*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

html, body{
    width: 960px;
    height: 720px;
    margin: 0 auto;
}

a{
    color: blue;
}

#body_wrap{
    overflow: hidden;
    height: 100%;
}

#title_line{
    display: block;
    height: 48px;
    background-color: rgb(230, 240, 255);
    position: relative;
}

#site_title{
    width: 200px;
    height: 100%;
    padding-left: 8px;
    float: left;
    font-size: 32px;
}

.horz_gnb{
    list-style: none;
    height: 48px;
    position: absolute;
    right: 10px;
}

.horz_gnb > li{
    display: block;
    height: 30px;
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 8px;
    margin-bottom: 8px;
    float: left;
    background-image: linear-gradient(rgb(60, 160, 255), rgb(60, 200, 255));
}

.horz_gnb > li > a{
    display: block;
    color: black;
    padding-left: 2px;
    padding-right: 2px;
    line-height: 30px;
}

#contents {
    display: block;
    overflow: hidden;
    height: 80%;
}

#contents > aside{
    display: block;
    width: 20%;
    height: 100%;
    float: left;
}

#contents > section{
    display: block;
    width: 80%;
    height: 100%;
    float: left;
}
